[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Let's Connect!
Comment=a configuration tool to connect to Let's Connect! VPN servers
Exec=lets-connect-client
Icon=lets-connect-client
Terminal=false

