[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=eduVPN client
Comment=a configuration tool to connect to eduVPN using OpenVPN
Exec=eduvpn-gui
Icon=org.eduvpn.client
Terminal=false

