include LICENSE
include README.md
include tests/example.ovpn
include share/icons/hicolor/*/apps/*.png
include share/applications/*
include share/eduvpn/*
include share/letsconnect/*
include share/eduvpn/builder/*
include doc/*

