name: Containers

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  containers:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        dist:
          - mypy
          - doc
          - pep8
          - pylama
          - pytest_centos_8
          - pytest_debian_buster
          - pytest_fedora_33
          - pytest_ubuntu_bionic
          - pytest_ubuntu_focal
          - rpm_centos_8
          - rpm_fedora_33
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build container
        run: docker build . -t ${{ matrix.dist }} -f docker/${{ matrix.dist }}.docker
      - name: Run container
        run: docker run ${{ matrix.dist }}
